<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
    <link rel="stylesheet" href="../../stylesheets/adminlogin.css">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <h3 class="p-3"><b>LOGIN</b></h3>
            </div>
            {{#if status}}
            <div class="alert alert-danger m-3" role="alert">
                <h6>Invalid username/password</h6>
            </div>
            {{/if}}
            <form action="/admin/loginverify" method="POST">
                <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
        </div>
    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>