<link rel="icon" href="../images/title-icon.png" type="image">
<link rel="stylesheet" href="stylesheets/user-header.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
<header class=" text-white p-3 pl-5 pt-4 bg-dark ">
  <div class="row">
    <div class="col-md-6 col-9">
      <img id="logo" src="images/logo.png" alt="logo">
      <h3 id="title"><b>The Beirut Blends</b></h3>
    </div>
    <div class="col-md-6 col-3">

      <nav class="navbar navbar-expand-lg  navbar-light">
        <button id="navbar-btn" class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link nav-link-ltr text-white" href="/"><b>Home </b><span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white nav-link-ltr " href="/reserve">Book a Table</a>
            </li>

            <li class="nav-item">
              <a class="nav-link  text-white nav-link-ltr" href="/downloadmenu">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  text-white nav-link-ltr" href="/">Gallery</a>
            </li>

            <li class="nav-item">
              <a class="nav-link  text-white nav-link-ltr " href="/contact">Contact us</a>
            </li>
          </ul>

        </div>
      </nav>

    </div>
  </div>
</header>