<link rel="stylesheet" href="../stylesheets/user-header.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Voltaire&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
<header class="  pt-2  pl-4 ">
  <div class="row">
    <div class="col-md-6 col-9 text-white">
      <img id="logo" src="../images/logo.png" alt="logo">
      <h3 id="title"><b>The Beirut Blends</b></h3>
    </div>
    <div class="col-md-6 col-3">

      <nav class="navbar navbar-expand-lg  navbar-light">
        <button id="navbar-btn" class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <strong></strong>
              <a class="nav-link nav-link-ltr text-white" href="/">Home<span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link  nav-link-ltr text-white " href="/reserve">Book a Table</a>
            </li>
            </strong>
            <li class="nav-item">
              <a class="nav-link   nav-link-ltr text-white" href="/downloadmenu">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link   nav-link-ltr text-white" href="/contact">Contact us</a>
            </li>
          </ul>

        </div>
      </nav>

    </div>
  </div>
</header>