<div class="jumbotron text-center">
  <h1 class="display-3">Oops!</h1>
  <p class="lead"><strong>Seems like this table is busy at that time.</strong>Kindly try another one!</p>
  <hr>
  <p>
    Having trouble? <a href="/contact">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/reserve" role="button">Continue to BookingPage</a>
  </p>
</div>