<link rel="stylesheet" href="stylesheets/userindex.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

<section class=" px-3 py-0 mx-auto container-fluid">
    <img src="images/bg.jpg" class="img-responsive indexbg" alt="Image">
</section>
<section class="bg-light" id="about-section">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 col-12 p-4">
        <img src="images/chef.jpg" id="chef-img" class=" mx-auto rounded-circle" alt="">
      </div>
    </div>
    <div class=row>
      <h2 class="mx-auto p-3 abustit " id="main-title"><b>Welcome</b></h2>
    </div>
    <div>
      <div class="row ml-4">
        <p>Craving some delicious BBQ? Maybe you’re in the mood for a juicy Shawarma? No matter what kind of
          Arabic/Continental cuisine you have in mind, we are ready to prepare it for you. Introducing our cafe and
          arabic bistro in town “The Beirut Blends” a.k.a TB² serving you Charcoal Shawarma, BBQ, Kebabs, Fish grill,
          Arabic rice, Hummus, Falafel , Burgers, Sandwich, Wraps, Pasta, Steak , Juice , Shakes, mocktails and lot
          more. We capture the essence of traditional Arabic cuisine and present it with contemporary flair. So, what
          are you waiting for? Come join us and make everyday life a little more special at TB².'
        </p>
      </div>
    </div>
  </div>

</section>








<section id="gallery" class="bg-light">

  <div class="container ">
    <div class="row text-center">
      <div class="col-md-12 pt-3 pb-3">
        <h1 class="gallery-head text-dark ">Our</h1>
        <h1 class="gallery-head text-warning pl-3">works</h1>

      </div>

    </div>
  </div>
  <div class="container-fluid">
    <div class="row  ">
      <div class="col-md-3 col-6 ">
        <img src="images/gallery/g-1.jpg" class="g-image mx-auto" alt="gallery">
      </div>
      <div class="col-md-3 col-6">
        <img src="images/gallery/g-2.jpg" class="g-image mx-auto" alt="gallery">
      </div>
      <div class="col-md-3 col-6">
        <img src="images/gallery/g-3.jpg" class="g-image mx-auto" alt="gallery">
      </div>
      <div class="col-md-3 col-6">
        <img src="images/gallery/g-4.jpg" class="g-image mx-auto" alt="gallery">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-6">
        <img src="images/gallery/g-5.jpg" class="g-image mx-auto" alt="gallery">
      </div>
      <div class="col-md-3 col-6">
        <img src="images/gallery/g-6.jpg" class="g-image mx-auto" alt="gallery">
      </div>
      <div class="col-md-3 col-6">
        <img src="images/gallery/g-7.jpg" class="g-image mx-auto" alt="gallery">
      </div>
      <div class="col-md-3 col-6">
        <img src="images/gallery/g-8.jpg" class="g-image mx-auto" alt="gallery">
      </div>
    </div>

  </div>

</section>






<section class="bg-light pt-5">
  <h1 class="text-center text-dark" id="menu-head"> Our Menu</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="images/icons/menu.png" class="menu-img mx-auto" alt="Menu">
      </div>
      <div class="col-md-8 ">
        <ul class="text-center menu-para">
          <li class="menu-li">Laughter is brightest</li>
          <li class="menu-li">When the food is best.Delightful cuisine with vivid </li>
          <li class="menu-li">varieties cherish your mood.</li>
          <li class="menu-li">Have a look at our MENU</li>
        </ul>
        <a class="btn btn-dark menu-btn text-center mx-auto" href="/downloadmenu" role="button">Menu</a>
      </div>
    </div>
  </div>
</section>



<section id="footer" class="bg-white container">
  <center>
     <h1 class="mx-auto foot-head pt-5 text-warning">Get in Touch</h1>
     <h1 class="mx-auto foot-text pt-3">Phone no:7510731425</h1>
    
     
      <h1 class="mx-auto foot-text ">Kunnathparambil complex,Tk Road,Thiruvalla,Kerala,689101</h1>
     
      <h1 class="mx-auto foot-text ">Working Hours:All Day,11am-11pm</h1>
  </center>
</section>





<section class="bg-secondary py-2 footersocial">
  <div class="conatiner">
    <div class="row text-center">
      <a href="https://www.facebook.com/thebeirutblends27/" id="fb-icon"><img class="foot-icon "  src="images/icons/facebook.svg" alt="fb-icon"></a>
      <a href="https://www.instagram.com/thebeirutblends27/"><img class="foot-icon " src="images/icons/instagram.svg" alt="fb-icon"></a>
    </div>
  </div>
</section>