.logo{

    height:80px;
    width:80px
}
#title{
    display:inline;
    font-family: 'Alatsi', sans-serif;
}
nav{
    border-radius:5px;
}


.admin-nav-btn{
    border-radius:20px;
    
}
body{
    font-family:  'Josefin Sans', sans-serif; 
}