body,
html {
    height: 100%;
}
html {
    scroll-behavior: smooth;
}

.indexbg {
    height: 100%;
    width:100%;
    background-position: center;
    display:block;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px;
}

p {
    font-family: 'Voltaire', sans-serif;
    font-size: 21px;
}



#main-title {
    font-family: 'Ranchers', cursive;
    font-size:55px;
}

#chef-img {
    display: block;
    width: 170px;
    height: 150px;
}
#gallery{
    margin-top:20px;
}
.gallery-head{
    display:inline;
    font-family: 'Ranchers', cursive;
    font-size:55px;
}
.g-image{
    width:80%;
    height:90%;
    border-radius:5px;
    display:block;
}
.g-image:hover{
    transform:scale(1.1);
    transition: transform .4s;
}
.menu-img{
    height:85%;
    width:85%;
}
#menu-head{
    font-size:60px;
    font-family: 'Ranchers', cursive;
}
.menu-btn{
    border-radius:25px;
    width:40%;
    height:40pxx;
    display:block;
    font-family: 'Josefin Sans', sans-serif;
    font-size:20px;
}
.menu-btn:hover{
    transform:scale(1.1);
    transition: transform .4s;
}
.menu-para{
    font-family: 'Voltaire', sans-serif;
    list-style-type:none;
    
}
.menu-li{
    font-size:21px;
}
.footersocial{
    border-radius: 10px;
}
#footer{
    border-radius:8px;
}
.foot-text{
    display:block;
    font-family: 'Voltaire', sans-serif;
    font-size:20px; 
    font-weight:200;
}
.foot-head{
    font-family: 'Ranchers', cursive;
    font-size:40px;
    display:block;
}
.foot-mini-head{
    display:block;
    font-family: 'Ranchers', cursive;
    font-size:35px; 
    
}
.foot-icon{
    width:30px;
    height:30px;
    display: inline;
    
}
.foot-icon:hover{
    transform:scale(1.3);
    transition: transform .4s;
}
#fb-icon{
    padding-left: 45%;
}
